* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***************************************************Navigation Bar*********************************************************/
@font-face {
  font-family: holo;
  src: url(ROCK.TTF);
}

.navbar {
  overflow: hidden;
  background-color: #8f34ce;
  padding: 10px 150px;
}

.navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
  font-family: holo;
}

.navbar a.right {
  float: right;
  font-size: 25px;
  font-family: holo;
}

@media only screen and (max-width: 768px) {
  .navbar {
    float: none;
    width: 100%;
    padding: 5px 10px;
  }

  .navbar a {
    font-size: 20px;
  }

  .navbar a.right {
    font-size: 15px;
  }
}

/******************************************************Header image******************************************************/
.header {
  padding: 200px;
  text-align: center;
  background: linear-gradient(
    77.32deg,
    #30d0e0 15.47%,
    rgba(13, 157, 171, 0.86) 73.84%
  );
  color: white;
}

@font-face {
  font-family: rockWell;
  src: url(ROCK.TTF);
}

.header {
  font-family: rockWell;
  font-weight: 400;
}

.header p {
  color: #000000;
}

@media only screen and (max-width: 768px) {
  .header {
    font-size: 15px;
    padding: 80px;
  }
}
/****************************************Card Section**************************************************************/

.card_section {
  background-color: #34ce8f;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.first_card {
  z-index: 1;
  margin-top: -60px;
}

.second_card {
  z-index: 1;
  margin-top: -60px;
}

.third_card {
  z-index: 1;
  margin-top: -60px;
}

/* .card {
  margin-top: -120px;
  z-index: 9;
  background-color: #ffffff;
  height: 320px;
  width: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
} */

.card {
  background-color: #ffffff;
  height: 320px;
  width: 20%;
  border-radius: 15px;
  padding: 20px;
  transition: 0.3s;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.info h5 {
  font-family: rockWell;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}

.info p {
  font-family: rockWell;
  text-align: center;
}

.project_button {
  font-family: rockWell;
  width: 150px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  border-color: #3473ce;
  transition-duration: 0.4s;
}

.project_button:hover {
  background-color: #8f34ce;
  color: #ffffff;
}

.card_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 100px;
  height: 80.7px;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  .card {
    width: 80%;
  }

  .second_card {
    z-index: 0;
    margin-top: 0px;
  }

  .third_card {
    z-index: 0;
    margin-top: 0px;
  }
}

/****************************************Footer***************************************************************************/
.footer {
  background-color: #289ba7;
  font-family: rockWell;
  display: flex;
  flex-direction: column;
  padding: 30px 150px 10px 150px;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 10px;
  }

  .footer h4 {
    font-size: 10px;
  }
}

.footer h4 {
  text-align: center;
  color: #ffffff;
  padding: 20px;
  font-size: 25px;
}

.social_media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social_media_logo {
  width: 60px;
  height: 60px;
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}

/****************************************Projects***************************************************************************/

.projects {
  background: linear-gradient(
    77.32deg,
    #30d0e0 15.47%,
    rgba(13, 157, 171, 0.86) 73.84%
  );
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.card_projects {
  background-color: #ffffff;
  height: 320px;
  width: 20%;
  border-radius: 15px;
  padding: 20px;
  transition: 0.3s;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px;
  font-family: rockWell;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  .card_projects {
    width: 80%;
  }
}

.see_code_button {
  font-family: rockWell;
  width: 100px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  font-size: 13px;
  border-color: #ce34c0;
  transition-duration: 0.4s;
}

.see_code_button:hover {
  background-color: #ce34c0;
  border-color: #ffffff;
}

.see_project_button {
  font-family: rockWell;
  width: 100px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  font-size: 13px;
  border-color: #3473ce;
  transition-duration: 0.4s;
}

.see_project_button:hover {
  background-color: #3473ce;
  border-color: #ffffff;
}
